{% extends 'base_perfil.html' %}
{% load static %}
{% block titulo %}Perfil - GramLineWeb{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'plataforma/css/plataforma.css' %}">

{% endblock %}

{% block body %}
<!-- Título fixo -->

<h1 class="fixed-header">
    <a href="{% url 'plataforma' %}"><button type="button" class="btn btn-outline-light">Início</button></a>
    <a href="{% url 'perfil' %}"><button type="button" class="btn btn-outline-primary">Perfil</button></a>
    <a href="{% url 'amigos' %}"><button type="button" class="btn btn-outline-success">Procurar</button></a>
    <a href="#"><button type="button" class="btn btn-outline-warning"> &#8593; </button></a>
    <a href="{% url 'sair' %}"><button type="button" class="btn btn-outline-danger">Sair</button></a>
    GramLineWeb
</h1><br><hr>
<div class="container-fluid vh-100 mt-5">
    <div class="row h-100">
        <!-- Coluna esquerda rolável -->
        <div class="col-md-6" style="background-color: #e9ecef;">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4"><br>
                        {% for imagem in img %}
                        <img src="{{ imagem.img.url }}" class="img-fluid rounded-circle" style="width: 80px; height: 80px;">
                        {% endfor %}
                        <span class="badge rounded-pill text-bg-light"><label class="nome-perfil">{{ nome }}, Edição de perfil</label></span>

                    </div>
                </div>
            </div>

            <div class="message">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            <center>{{message}}</center>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <span class="badge text-bg-light">Selecione sua foto para o perfil:</span>
            <form action="{% url 'perfil' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="file" name="imagem">
                <input type="submit" value="Confirme sua foto de perfil"> -
                <button type="button" class="btn btn-secondary"> GALERIA </button>
            </form>
            <hr><i>Edição de conta:</i>
            <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    nome(seu nome é único): <input type="text" name="nome" disabled value="{{ nome }}"><br>
    email: <input type="email" name="email" value="{{ email }}"><br>
    nova senha: <input type="password" name="password1"><br>
    conf. nova senha: <input type="password" name="password2"><br>
    <input type="submit" value="Atualize seu perfil">
</form>
            <hr>
            <a href="{% url 'excluir' %}"><button type="button" class="btn btn-danger">Excluir Perfil</button></a>
            <button type="button" class="btn btn-secondary"> GALERIA </button>
            <button type="button" class="btn btn-info">Ranking</button>
            <hr>

           <br> <br><br><br><br><br><hr>
        </div>
        <!-- Coluna direita fixa no desktop, mas relativa no celular -->
        <div class="col-md-6 fixed-column bg-black"><br><br>
        </div>
    </div>
</div>
{% endblock %}
