h1{
    color: red;
}
/* styles.css */
.fixed-header {
    position: fixed; /* Fixa o elemento na tela */
    top: 0; /* Alinha o elemento ao topo */
    left: 0; /* Alinha o elemento à esquerda */
    width: 100%; /* Garante que o elemento ocupe toda a largura da tela */
    z-index: 1030; /* Garante que o elemento fique acima de outros */
    background-color: #343a40; /* Cor de fundo, ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */
    padding: 1rem 0; /* Adiciona padding superior e inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destacar */
}
    @media (max-width: 768px) {
        /* Em dispositivos móveis, queremos empilhar as colunas */
        .col-md-6 {
            width: 100%;
            position: relative;
            height: auto;
        }
        .fixed-column {
            position: relative;
            height: auto;
        }
    }

    @media (min-width: 769px) {
        /* No desktop, a coluna direita permanece fixa */
        .fixed-column {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            width: 50%;
        }

        .scroll-column {
            height: 100vh;
            overflow-y: auto;
        }
    }